{% style %}
  p {
    margin: 0;
  }

{% endstyle %}

{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
      <div class="announcement row text-center align-items-center" style="background-color: {{ block.settings.announcement_background }}; color: {{ block.settings.text_color }};">
        <div class="col-12 col-md-4">
          {% if block.settings.phone_number != blank %}
            <div class="phone_number">
              {{ block.settings.phone_number }}
            </div>
          {% endif %}
          {% if block.settings.email != blank %}
          <div class="email">
            {{ block.settings.email }}
          </div>
          {% endif %}
          
        </div>
        <div class="col-12 col-md-4">
          {% if block.settings.message != blank %}
          <div class="message mb-0">
            {{ block.settings.message }}
            
          </div>
          {% endif %}
        </div>
        <div class="col-12 col-md-4">
          {% if block.settings.address != blank %}
          <div class="address ">
            {{ block.settings.address }}
          </div>
          {% endif %}
        </div>
      </div>
  {%- endcase -%}
{%- endfor -%}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "color",
          "id": "announcement_background",
          "label": "Background-Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text-Color",
          "default": "#010101"
        },
        {
          "type": "text",
          "id": "phone_number",
          "default": "999-999-9999",
          "label": "Phone Number"
        },
        {
          "type": "text",
          "id": "email",
          "default": "support@email.com",
          "label": "Email",
          "info": "Only put support email"
        },
        {
          "type": "text",
          "id": "address",
          "default": "123 Main St",
          "label": "Address"
          
        },
        
        {
          "type": "richtext",
          "id": "message",
          "default": "<p>Welcome to our store</p>",
          "label": "Announcement Message"
          
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
