<div class="collections-grid">
    <div class="row">
        <div class="col-12 col-md-6 h-100">
            {% if section.settings.image_1 != blank %}
            <img srcset="{%- if section.settings.image_1.width >= 165 -%}{{ section.settings.image_1 | img_url: '165x' }} 165w,{%- endif -%}
                {%- if section.settings.image_1.width >= 360 -%}{{ section.settings.image_1 | img_url: '360x' }} 360w,{%- endif -%}
                {%- if section.settings.image_1.width >= 535 -%}{{ section.settings.image_1 | img_url: '535x' }} 535w,{%- endif -%}
                {%- if section.settings.image_1.width >= 750 -%}{{ section.settings.image_1 | img_url: '750x' }} 750w,{%- endif -%}
                {%- if section.settings.image_1.width >= 1070 -%}{{ section.settings.image_1 | img_url: '1070x' }} 1070w,{%- endif -%}
                {%- if section.settings.image_1.width >= 1500 -%}{{ section.settings.image_1 | img_url: '1500x' }} 1500w,{%- endif -%}
                {{ section.settings.image_1 | img_url: 'master' }} {{ section.settings.image_1.width }}w"
                src="{{ section.settings.image_1 | img_url: '1500x' }}" alt="{{ section.settings.image_1.alt | escape }}"
                
                loading="lazy">
            
            {% else %}
            <img src="https://images.pexels.com/photos/1154861/pexels-photo-1154861.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="">
            {% endif %}
            
            <div class="text-section">
                {% if section.settings.left_heading != blank %}
                <div class="text_section-heading">
                    {{ section.settings.left_heading | escape }}
                </div>
                {% endif %}
                {% if sections.settings.left_header != blank %}
                {{ section.settings.left_header | escape }}
                {% endif %}
                {% if section.settings.left_url != blank %}
                <a href="{{ section.settings.left_url }}">
                    {{ section.settings.left_cta }}
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="col-12">
                {% if section.settings.image_2 != blank %}
                    
                
                <img srcset="{%- if section.settings.image_2.width >= 165 -%}{{ section.settings.image_2 | img_url: '165x' }} 165w,{%- endif -%}
                    {%- if section.settings.image_2.width >= 360 -%}{{ section.settings.image_2 | img_url: '360x' }} 360w,{%- endif -%}
                    {%- if section.settings.image_2.width >= 535 -%}{{ section.settings.image_2 | img_url: '535x' }} 535w,{%- endif -%}
                    {%- if section.settings.image_2.width >= 750 -%}{{ section.settings.image_2 | img_url: '750x' }} 750w,{%- endif -%}
                    {%- if section.settings.image_2.width >= 1070 -%}{{ section.settings.image_2 | img_url: '1070x' }} 1070w,{%- endif -%}
                    {%- if section.settings.image_2.width >= 1500 -%}{{ section.settings.image_2 | img_url: '1500x' }} 1500w,{%- endif -%}
                    {{ section.settings.image_2 | img_url: 'master' }} {{ section.settings.image_2.width }}w"
                    src="{{ section.settings.image_2 | img_url: '1500x' }}" alt="{{ section.settings.image_2.alt | escape }}"
                    loading="lazy">
                
                {% else %}
                <img src="https://images.pexels.com/photos/1154861/pexels-photo-1154861.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
                {% endif %}
                
                <div class="text-section">
                    {% if section.settings.tr_heading != blank %}
                    <div class="text_section-heading">
                        {{ section.settings.tr_heading | escape }}
                    </div>
                    {% endif %}
                    {% if sections.settings.tr_header != blank %}
                    {{ section.settings.tr_header | escape }}
                    {% endif %}
                    {% if section.settings.tr_url != blank %}
                    <a href="{{ section.settings.tr_url }}">
                        {{ section.settings.tr_cta }}
                    </a>
                    {% endif %}
                </div>
                
                
            </div>
            <div class="col-12">
                {% if section.settings.image_3 != blank %}
                    
                
                <img srcset="{%- if section.settings.image_3.width >= 165 -%}{{ section.settings.image_3 | img_url: '165x' }} 165w,{%- endif -%}
                                    {%- if section.settings.image_3.width >= 360 -%}{{ section.settings.image_3 | img_url: '360x' }} 360w,{%- endif -%}
                                    {%- if section.settings.image_3.width >= 535 -%}{{ section.settings.image_3 | img_url: '535x' }} 535w,{%- endif -%}
                                    {%- if section.settings.image_3.width >= 750 -%}{{ section.settings.image_3 | img_url: '750x' }} 750w,{%- endif -%}
                                    {%- if section.settings.image_3.width >= 1070 -%}{{ section.settings.image_3 | img_url: '1070x' }} 1070w,{%- endif -%}
                                    {%- if section.settings.image_3.width >= 1500 -%}{{ section.settings.image_3 | img_url: '1500x' }} 1500w,{%- endif -%}
                                    {{ section.settings.image_3 | img_url: 'master' }} {{ section.settings.image_3.width }}w"
                    src="{{ section.settings.image_3 | img_url: '1500x' }}" alt="{{ section.settings.image_3.alt | escape }}"
                    loading="lazy">
                
                {% else %}
                <img src="https://images.pexels.com/photos/1154861/pexels-photo-1154861.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
                {% endif %}
                
                <div class="text-section">
                    {% if section.settings.br_heading != blank %}
                    <div class="text_section-heading">
                        {{ section.settings.br_heading | escape }}
                    </div>
                    {% endif %}
                    {% if sections.settings.br_header != blank %}
                    {{ section.settings.br_header | escape }}
                    {% endif %}
                    {% if section.settings.br_url != blank %}
                    <a href="{{ section.settings.br_url }}">
                        {{ section.settings.br_cta }}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>



{% schema %}
{
    "name": "Collections Grid",
    "settings": [
        {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image Left"
        },
        {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image Top Right"
        },
        {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image Bottom Right"
        },
        {
            "type": "text",
            "id": "left_heading",
            "label": "Left Heading",
            "default": "Sale"
        },
        {
            "type": "text",
            "id": "tr_heading",
            "label": "Top Right Heading",
            "default": "New Arrivals"
        },
        {
            "type": "text",
            "id": "br_heading",
            "label": "Bottom Right Heading",
            "default": "Clearance Sale"
        },
        {
            "type": "text",
            "id": "left_header",
            "label": "Left Header",
            "default": "Shirts Summer Sale"
        },
        {
            "type": "text",
            "id": "tr_header",
            "label": "Top Right Header",
            "default": "Shirts Summer Sale"
        },
        {
            "type": "text",
            "id": "br_header",
            "label": "Bottom Right Header",
            "default": "Shirts Summer Sale"
        },
        {
            "type": "url",
            "id": "left_url",
            "label": "Left URL"
            
        },
        {
            "type": "url",
            "id": "tr_url",
            "label": "Top right URL"
            
        },
        {
            "type": "url",
            "id": "br_url",
            "label": "Bottom Right URL"  
        },
        {
            "type": "text",
            "id": "left_cta",
            "label": "Left Button Text",
            "default": "Shop Now"
        },
        {
        "type": "text",
        "id": "tr_cta",
        "label": "Top Right Button Text",
        "default": "Shop Now"
        },
        {
        "type": "text",
        "id": "br_cta",
        "label": "Bottom Right Button Text",
        "default": "Shop Now"
        }
        
        
    ],
    
    "presets": [
        {
            "name": "Collections Grid"
            
        }
    ]
}
{% endschema %}