{% style %}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.custom_featured_product{
padding: 0 115px;
margin-bottom: 100px;
}

@media screen and (max-width:750px){
.custom_featured_product{
padding: 0 50px;

}
}

.custom_featured_product .product-info {
text-align: left;
}
.custom_featured_product .product-info .product_title {
font-weight: 600;
font-size: 1.3rem;

}
.custom-product-quantity__input{
width: 300px;
text-align: center;
font-size: 1.1rem;
border: none;
height: 50px;
appearance: none;
}

.custom-product-quantity {
position: relative;
display: flex;
width: 300px;
}

.custom_featured_product .btn{
width: 300px;
padding: 8px;
border: none;
margin: 0 auto;
background-color: {{ section.settings.button_color }};
color: {{ section.settings.button_text-color }};
}


.custom_featured_product .product-form__input .select{
max-width: 300px;
}

.custom-product-select {
display: inline-block;
position: relative;
cursor: pointer;
padding: 0 20px;
appearance: none;
background-color: transparent;
height: 40px;
box-sizing: border-box;

margin: 0 auto;
border: none;
}

.product-info .form__label {
font-size: 1rem;
}

.product-info .price {
font-size: 1.1rem;
}

{% endstyle %}

{%- assign product = section.settings.product -%}
{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- if first_3d_model -%}
{{ 'component-product-model.css' | asset_url | stylesheet_tag }}
<link id="ModelViewerStyle" rel="stylesheet"
    href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print"
    onload="this.media='all'">
<link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print"
    onload="this.media='all'">
{%- endif -%}
{% if section.settings.section_title != blank %}
<div class="container mb-5 mt-5">
    <div class="section-title">
        {{ section.settings.section_title }}
    </div>
</div>
{% endif %}
{% if product != blank %}
<div class="custom_featured_product container">
    <div class="row">
        <div class="product-img col-sm-12 col-md-6">
            {%- if product.featured_media.id != null -%}
            <img srcset="{% if product.featured_media.width >= 288 %}{{ product.featured_media | img_url: '288x' }} 288w,{% endif %}
                                {% if product.featured_media.width >= 576 %}{{ product.featured_media | img_url: '576x' }} 576w,{% endif %}
                                {% if product.featured_media.width >= 750 %}{{ product.featured_media | img_url: '750x' }} 750w,{% endif %}
                                {% if product.featured_media.width >= 1100 %}{{ product.featured_media | img_url: '1100x' }} 1100w,{% endif %}
                                {% if product.featured_media.width >= 1500 %}{{ product.featured_media | img_url: '1500x' }} 1500w,{% endif %}
                                {{ product.featured_media | img_url: 'master' }} {{ product.featured_media.width }}w"
                src="{{ product.featured_media | img_url: '1500px' }}" alt="{{ product.featured_media.alt }}"
                loading="lazy" height="250px">

            {% else %}
            <div class="placeholder">500x500</div>
            {%- endif -%}
        </div>
        <div class="product-info col-sm-12 col-md-6">
            <div class="product_title">
                {{ product.title | escape }}
            </div>

            <div class="price mb-2">
                {{ product.price | money}}
            </div>
            {%- unless product.has_only_default_variant -%}
            <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}"
                data-update-url="false" {{ block.shopify_attributes }}>
                {%- for option in product.options_with_values -%}
                <div class="product-form__input product-form__input--dropdown">
                    <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                        {{ option.name }}
                    </label>
                    <div class="select">
                        <select id="Option-{{ section.id }}-{{ forloop.index0 }}" class="custom-product-select"
                            name="options[{{ option.name | escape }}]" form="{{ product_form_id }}">
                            {%- for value in option.values -%}
                            <option value="{{ value | escape }}" {% if option.selected_value==value
                                %}selected="selected" {% endif %}>
                                {{ value }}
                            </option>
                            {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                    </div>
                </div>
                {%- endfor -%}

                <script type="application/json">
                            {{ product.variants | json }}
                        </script>
            </variant-selects>



            {% endunless %}
            <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
                <quantity-input class="custom-product-quantity">
                    <button class="quantity__button no-js-hidden" name="minus" type="button">
                        <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product:
                            product.title |
                            escape
                            }}</span>
                        {% render 'icon-minus' %}
                    </button>
                    <input class="custom-product-quantity__input" type="number" name="quantity"
                        id="Quantity-{{ section.id }}" min="1" value="1" form="{{ product_form_id }}">
                    <button class="quantity__button no-js-hidden" name="plus" type="button">
                        <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product:
                            product.title |
                            escape
                            }}</span>
                        {% render 'icon-plus' %}
                    </button>
                </quantity-input>
            </div>

            <div {{ block.shopify_attributes }}>
                {%- if product != blank -%}
                <product-form class="product-form">
                    <div class="product-form__error-message-wrapper" role="alert" hidden>
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error"
                            viewBox="0 0 13 13">
                            <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2" />
                            <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7" />
                            <path
                                d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z"
                                fill="white" />
                            <path
                                d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z"
                                fill="white" stroke="#EB001B" stroke-width="0.7">
                        </svg>
                        <span class="product-form__error-message"></span>
                    </div>

                    {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate',
                    data-type:
                    'add-to-cart-form' -%}
                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}"
                        disabled>
                    <div class="product-form__buttons">
                        <button type="submit" name="add"
                            class="btn btn-primary {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                            {% if product.selected_or_first_available_variant.available==false %}disabled{% endif %}>
                            <span>
                                {%- if product.selected_or_first_available_variant.available -%}
                                {{ 'products.product.add_to_cart' | t }}
                                {%- else -%}
                                {{ 'products.product.sold_out' | t }}
                                {%- endif -%}
                            </span>
                            <div class="loading-overlay__spinner hidden">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="spinner"
                                    viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                </svg>
                            </div>
                        </button>
                        {%- if block.settings.show_dynamic_checkout -%}
                        {{ form | payment_button }}
                        {%- endif -%}
                    </div>
                    {%- endform -%}
                </product-form>
                {%- else -%}
                <div class="product-form">
                    <div class="product-form__buttons form">
                        <button type="submit" name="add" class="btn btn-info" disabled>
                            {{ 'products.product.sold_out' | t }}
                        </button>
                    </div>
                </div>
                {%- endif -%}
            </div>
        </div>
    </div>
</div>
{% endif %}


{% schema %}
{
"name": "Custom Featured Product",
"tag": "section",
"class": "featured-product-section spaced-section spaced-section--full-width",
"settings": [
{
"type": "text",
"id": "section_title",
"label": "Title",
"default": "#Featured On Fashion Week"
},
{
"type": "product",
"id": "product",
"label": "t:sections.featured-product.settings.product.label"
},
{
"type": "color",
"id": "button_text-color",
"label": "Button Text Color",
"default": "#eee"
},
{
"type": "color",
"id": "button_color",
"label": "Button Background Color",
"default": "#333"
}

],

"presets": [
{
"name": "Custom Featured Product"

}

]
}
{% endschema %}