{% style %}
.section_title {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    padding: 20px;
}

.custom-collection-list .collection-block {
    position: relative;
    width: 100%;
    margin: 5px;
}

.custom-collection-list .collection-block img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.custom-collection-list .collection-block .custom-collection-list__text-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    text-align: center;
    
}

.custom-collection-list .collection-block .custom-collection-list__text-section .text-section__heading {
    font-size: 1.5rem;
}

.custom-collection-list .collection-block .custom-collection-list__text-section .text-section__sub-heading {
    font-size: 2.5rem;
    font-weight: 600;
}

@media screen and (min-width: 840px) {
    .custom-collection-list .collection-block {
        max-width: 400px;
    }
}



{% endstyle %}



{% if section.settings.title != blank %}
    <div class="section_title">
        {{ section.settings.title }}
    </div>
{% endif %}

<div class="custom-collection-list d-flex justify-content-center flex-wrap">
    {% for block in section.blocks %}
        <div class="collection-block">
            {% if block.settings.image != blank %}
                <img srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                                      {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | img_url: '360x' }} 360w,{%- endif -%}
                                      {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | img_url: '535x' }} 535w,{%- endif -%}
                                      {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                                      {%- if block.settings.image.width >= 1070 -%}{{ block.settings.image | img_url: '1070x' }} 1070w,{%- endif -%}
                                      {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                                      {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
                    src="{{ block.settings.image | img_url: '1500x' }}" alt="{{ block.settings.image.alt | escape }}"
                    loading="lazy">
                {%- else -%}
                <img src="https://images.pexels.com/photos/842811/pexels-photo-842811.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                {% endif %}
                
                <div class="custom-collection-list__text-section" style="color: {{ block.settings.text_color }}">
                    {% if block.settings.heading != blank %}
                        <div class="text-section__heading">
                            {{ block.settings.heading }}
                        </div>
                    {% endif %}
                    {% if block.settings.sub_heading != blank %}
                    <div class="text-section__sub-heading">
                        {{ block.settings.sub_heading }}
                    </div>
                    {% endif %}
                    {% if block.settings.button_text != blank %}
                        <div class="text-section__button">
                            <a href="{{ block.settings.collection.url }}">
                                {{ block.settings.button_text }}
                            </a>
                        </div>
                    {% endif %}
                </div>
        </div>
    {% endfor %}
</div>

{% schema %}
{
    "name": "Custom Collections List",
    "max_blocks": 3,
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Section Title",
            "default": "#As Seen In the Mall"
        }
    
    
    ],
    
    "blocks": [
        {
            "type": "collection",
            "name": "Collection",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Collection Image"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "default": "New Arrivals"
                },
                {
                    "type": "text",
                    "id": "sub_heading",
                    "label": "Sub Heading",
                    "default": "Shop Popular Items"
                },
                {
                    "type": "text",
                    "id": "button_text",
                    "label": "Button text",
                    "default": "Shop Now"
                },
                {
                    "type": "color",
                    "id": "text_color",
                    "label": "Text Color",
                    "default": "#000000"
                }
                
            
            ]
        }
    
    ],
    "presets": [
        {
            "name": "Custom Collections List",
            "blocks": [
                {
                    "type": "collection"
                },
                {
                    "type": "collection"
                },
                {
                    "type": "collection"
                }
            
            ]
        }
    
    ]
        
    
}






{% endschema %}