{% style %}
.custom-footer {
  background-color: {{ section.settings.background-color }};
  color: {{ section.settings.text_color }}
}

.custom-footer .footer_business-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
}

.custom-footer .footer_business-info .footer_shop_name {
  font-size: 24px;
  font-weight: 600;
}

.custom-footer a {
  text-decoration: none;
  font-weight: 600;
  color: {{ section.settings.text_color }}
}

.custom-footer .footer_links {
  max-height: 150px;
  display: flex;
  flex-direction: column;
  flex-flow: row;
  align-items: start;
}

.custom-footer .link_groups {
  display: flex; 
  flex-direction: column;
  margin-right: 40px;
}

.custom-footer .link_groups .menu_title {
  font-weight: 600;
  margin-bottom: 10px;
}

.newsletter_input{
  appearance: none;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 0;
  height: 50px;
  box-sizing: border-box;
  
}

.footer_newsletter_section .footer_newsletter_title {
  font-weight: 600;
  margin-bottom: 10px;
}

.footer_newsletter_section .footer_newsletter_des {
  font-size: 12px;
}

.footer_newsletter {
  display: flex;
}

.footer_newsletter .newsletter_email {
  margin-bottom: 8px;
  margin-right: 5px;
  border: none;
}
.footer_newsletter .newsletter_email input {
  padding: 5px;
}

.footer_newsletter .newsletter_button {
  padding: 2px 6px;
  border: none;
  background: {{ section.settings.button_color }};
  color: {{ section.settings.button_text_color }};
}

.custom-footer-bottom {
  font-size: 12px;
  height: 60px;
  text-align: center;
  padding: 15px;
  background: {{ section.settings.copyright_background_color }};
}

{% endstyle %}




<footer class="custom-footer">
  <div class="container d-flex flex-column justify-content-between flex-sm-row justify-content-sm-evenly py-4">
    <div class="col-12 col-sm-4 footer_business-info">
        <div class="footer_logo mb-2">
          {% if section.settings.footer_logo != blank %}
          <img 
            srcset="{{ section.settings.footer_logo | img_url: image_size }} 1x, {{ section.settings.footer_logo | img_url: image_size , scale: 2 }} 2x"
            src="{{ section.settings.footer_logo | img_url: image_size }}" 
            alt="{{ section.settings.footer_logo.alt | default: shop.name | escape }}"
            height="{{ section.settings.footer_logo.height }}"
            width="{{ section.settings.footer_logo.width }}"
            >
          
          {% else %}
            <div class="footer_shop_name">
              {{ shop.name }}
            </div>
          {% endif %}
          
        </div>
        {% if section.settings.footer_address != blank %}
          <div class="footer_address mb-3">
            {{ section.settings.footer_address }}
          </div>
        {% endif %}
        {% if section.settings.footer_email != blank %}
          <div class="footer_email mb-3">
            {{ section.settings.footer_email }}
          </div>
        {% endif %}
        {% if section.settings.footer_phone_number != blank %}
          <div class="footer_phone_number mb-3">
            {{ section.settings.footer_phone_number }}
          </div>
        {% endif %}
    </div>
    <div class="col-12 col-sm-4 footer_links mb-5">
      {% for block in section.blocks %}
        <div class="link_groups">
          {% if block.settings.title != blank %}
            <div class="menu_title">
              {{ block.settings.title }}
            </div>
          {% endif %}
          {% for link in block.settings.menu.links %}
            <a href="{{ link.url }}">
              {{ link.title | escape }}
            </a>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    
    {% if section.settings.footer_newsletter_enable %}
      <div class="col-12 col-sm-4 text-center footer_newsletter_section">
        {% if section.settings.footer_newsletter_title != blank %}
          <div class="footer_newsletter_title">
            {{ section.settings.footer_newsletter_title }}
          </div>
        {% endif %}
        {% if section.settings.footer_newsletter_des != blank %}
          <div class="footer_newsletter_des">
            {{ section.settings.footer_newsletter_des }}
          </div>
        {% endif %}
        {% form 'customer' %}
          <div class="footer_newsletter d-flex flex-column flex-md-row mt-2">
            <div class="newsletter_email">
              <input type="email" name="contact[email]" placeholder="Enter Your Email" class="newsletter_email mr-2">
            </div>
            <div>
              <input type="submit" class="newsletter_button" value="Sign up">
            </div>
          </div>
        
        {% endform %}
        
        
      </div>
    {% endif %}
  </div>
  <div class="custom-footer-bottom">
    Copyright &copy; <script> document.write(new Date().getFullYear())</script> <span style="font-weight: 600"> {{ shop.name }}</span> all rights reserved.
  </div>
  
</footer>





{% schema %}
{
  "name": "Footer",
  "max_blocks": 2,
  "settings": [
    {
      "type": "checkbox",
      "id": "footer_newsletter_enable",
      "label": "Show newsletter signup?",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    },
    {
      "type": "text",
      "id": "footer_address",
      "label": "Address",
      "default": "124 Main Street Phoenix, AZ 85005"
    },
    {
      "type": "text",
      "id": "footer_email",
      "label": "Company Email",
      "default": "support@email.com"
    },
    {
      "type": "text",
      "id": "footer_phone_number",
      "label": "Company Phone Number",
      "default": "784-895-8754"
    },
    {
      "type": "text",
      "id": "footer_newsletter_title",
      "label": "Newsletter Title",
      "default": "Sign up for our newsletter"
    },
    {
      "type": "text",
      "id": "footer_newsletter_des",
      "label": "Newsletter description",
      "default": "Receive 20% off when you sign up!"
    },
    {
      "type": "color",
      "id": "background-color",
      "label": "Background Color",
      "default": "#333"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#f1f1f1"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button Text Color",
      "default": "#333"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color",
      "default": "#f1f1f1"
    },
    {
      "type": "color",
      "id": "copyright_background_color",
      "label": "Copyright Background",
      "default": "#222"
    }
  ],
  "blocks": [
  {
    "type": "link_list",
    "name": "Menu",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Menu",
        "default": "Menu title"
      }
    ]
  }
  ],
  "presets": [
        {
            "name": "Footer",
            "blocks": [
                {
                    "type": "link_list"
                }
            
            ]
        }
    ]
  
}









{% endschema %}