
{% style %}

    .hero {
        position: relative;
        
    }

    .hero img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        max-height: 600px;
        z-index: 10;
    }
    
    
    .hero .text-section {
        position: absolute;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        padding: 0px;
        color : {{ section.settings.text_color }};
        
    }
    .hero .text-section.center { 
        top: 50%;
        left: 50%;
        
    }
    .hero .text-section.right {
        top: 50%;
        left: 65%;
        text-align: right;
    
    }
    .hero .text-section.left {
        top: 50%;
        left: 30%;
        text-align: left;
    
    }
    .hero .text-section .heading {
        font-size: 3rem;
        font-weight: 600;
    }
    
    .hero .text-section .custom-title {
        font-size: 1.5rem;
    }
    
    .hero .text-section .custom-btn {
        padding: 8px;
        border: none;
        background-color: {{ section.settings.button_color }};
        color: {{ section.settings.button_text_color }};
    }

    
    




{% endstyle %}



<div class="hero">
    {% if section.settings.image != blank %}
        <img srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                      {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
                      {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
                      {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                      {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w,{%- endif -%}
                      {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                      {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
            src="{{ section.settings.image | img_url: '1500x' }}"
            alt="{{ section.settings.image.alt | escape }}" 
            loading="lazy"
            >
        {%- else -%}
            <img src="https://images.pexels.com/photos/432059/pexels-photo-432059.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
    {% endif %}
    <div class="text-section {{ section.settings.text_alignment }}">
        {% for block in section.blocks %}
            {% if block.settings.heading != blank %}
                <div class="heading">
                    {{ block.settings.heading }}
                </div>
            {% endif %}
            {% if block.settings.title != blank %}
            <div class="custom-title">
                {{ block.settings.title }}
            </div>
            {% endif %}
            {% if block.settings.button_label != blank %}
            <button class="custom-btn" href={{ block.settings.button_link }}>
                {{ block.settings.button_label }}
            </button>
            {% endif %}
        {% endfor %}
        
        
        
    </div>
    
    
</div>







{% schema %}
{
    "name": "Hero",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Background Image"
        },
        {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "center"
        }
    ],
    "blocks": [
        {
            "type": "heading",
            "name": "Heading",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "default": "Heading text",
                    "label": "Heading"
                }
            ]
        },
        {
            "type": "title",
            "name": "Title",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "default": "Title text",
                    "label": "Title"
                }
            ]
        },
        {
            "type": "button",
            "name": "button",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "button_label",
                    "default": "Shop Now",
                    "label": "Button"
                },
                {
                    "type": "url",
                    "id": "button_link",
                    "label": "Button Url"
                },
                {
                    "type": "color",
                    "id": "button_text-color",
                    "label": "Button Text Color",
                    "default": "#000"
                },
                {
                    "type": "color",
                    "id": "button_color",
                    "label": "Button Background Color",
                    "default": "#eee"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Hero",
            "blocks": [
                {
                    "type": "heading"
                },
                {
                    "type": "title"
                },
                {
                    "type": "button"
                }
            ]
        }
    ]
}
{% endschema %}